<div style="display: inline-flex; width: 100%">
  <div style="flex-grow:1;" [class.mainstat]="isMainStat"
                  [class.has_side_effect]="hasSideEffect"
  >
    <label>{{!!stat ? stat.name : ""}}, applied effect: {{trainingEffect}}, required effect: {{requiredEffect}}</label>
    <input  type="number" (input)="onCurrentTrainingChanged()"
           [(ngModel)]="currentTraining">
  </div>


  <div style="width: 90px"
                  [class.has_side_effect]="hasSideEffect"
                  [class.has_effect]="hasEffect"
  >
    <label>{{posibility}}</label>
    <input  disabled
           value="{{minimumPossibility || 0}} ~ {{maximumPossibility || 0}}">
  </div>


</div>
