mat-form-field.mainstat mat-label,
mat-form-field.mainstat input
  color: darkblue

mat-form-field.mainstat mat-label
  font-weight: bold

mat-form-field.has_side_effect mat-label,
mat-form-field.has_side_effect input,
mat-form-field.has_side_effect.has_effect mat-label,
mat-form-field.has_side_effect.has_effect input
  color: red

mat-form-field.has_effect mat-label,
mat-form-field.has_effect input
  color: darkblue
