<div class="row">
  <div class="input-group input-group-sm mb-1">
      <span [class.fw-bold]="isMainStat" class="input-group-text bg-white col-2">
        {{!!stat ? stat.name : ""}}
      <span *ngIf="hasEffect" class="text-primary">&nbsp;+{{trainingEffect}}</span>
    </span>

    <button (click)="decreaseCurrentTraining()" class="btn btn-outline-secondary d-inline fw-bold text-center col-3">-
    </button>
    <input (change)="onCurrentTrainingChanged()" [(ngModel)]="currentTraining" class="form-control text-center col-4"
           type="number">
    <button (click)="increaseCurrentTraining()" class="btn btn-outline-secondary d-inline fw-bold text-center col-3">+
    </button>
    <span [class.border-danger-subtle]="(!isMainStat) && hasSideEffect"
          [class.fw-bold]="isMainStat"
          [class.text-bg-danger]="(!isMainStat) && hasSideEffect"
          [class.text-bg-success]="hasEffect && isMainStat"
          class="input-group-text d-inline text-center col-2"
    >{{minimumPossibility || 0}} ~ {{maximumPossibility || 0}}</span>
  </div>
</div>
