.container
  max-width: 576px
  min-width: 450px

button.fatigue
  border-color: var(--bs-border-color)

option.fatigue span
  padding-right: 10px
  width: 48px

button.fatigue img
  max-width: 22px
  margin-right: 1px
  margin-left: 1px
