<table class="training-board" style="border-spacing: 0">
  <tbody>
  <tr>
    <td>
        <label>TP</label>
        <input #number [(ngModel)]="totalTrainingPoint">
    </td>
    <td>
        <label>Fatigue</label>
        <select [(ngModel)]="fatiguee">
          <option class="fatigue" [value]="0">
            <div class="fatigue-list-item">
              <span>0</span>
              <div class="fatigue-list-item-imgs">
                <img src="assets/fatigue/Fatigue0.webp" alt="f0">
              </div>
            </div>
          </option>
          <option class="fatigue" value="1">
            <div class="fatigue-list-item">
              <span>1~50</span>
              <div class="fatigue-list-item-imgs">
                <img src="assets/fatigue/Fatigue1.webp" alt="f1">
                <img src="assets/fatigue/Fatigue2.webp" alt="f2">
                <img src="assets/fatigue/Fatigue3.webp" alt="f3">
                <img src="assets/fatigue/Fatigue4.webp" alt="f4">
                <img src="assets/fatigue/Fatigue5.webp" alt="f5">
              </div>
            </div>
          </option>
          <option class="fatigue" value="51">
            <div class="fatigue-list-item">
              <span>51~99</span>
              <div class="fatigue-list-item-imgs">
                <img src="assets/fatigue/Fatigue6.webp" alt="f6">
                <img src="assets/fatigue/Fatigue7.webp" alt="f7">
                <img src="assets/fatigue/Fatigue8.webp" alt="f8">
                <img src="assets/fatigue/Fatigue9.webp" alt="f9">
                <img src="assets/fatigue/Fatigue10.webp" alt="f10">
              </div>
            </div>
          </option>
          <option class="fatigue" value="100">
            <div class="fatigue-list-item">
              <span>100</span>
              <div class="fatigue-list-item-imgs">
                <img src="assets/fatigue/Fatigue10.webp" alt="f10">
                <img src="assets/fatigue/Fatigue10.webp" alt="f10">
              </div>
            </div>
          </option>
        </select>
    </td>
  </tr>

  <tr>
    <td>
        <label>Target Stat</label>
        <select [(ngModel)]="targetStat">
          <option *ngFor="let item of Stat.ALL" [value]="item">
            {{item.name}}
          </option>
        </select>

    </td>
    <td>

        <label>Quality</label>
        <select [(ngModel)]="targetQuality">
          <option *ngFor="let item of TrainingQuality.ALL" [value]="item">
            {{item.name}}
          </option>
        </select>

    </td>
  </tr>

  <tr>
    <td colspan="2">
        <label>Training Task</label>
        <input  disabled value="{{trainingTask.name}}">
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.HP, $event)" [stat]="Stat.HP"
                        [is_main_stat]="(trainingTask.mainStat == Stat.HP)"
                        [current_training]="currentTraining.hp"
                        [training_effect]="trainingTask.statsEffective.hp"
                        [required_effect]="training.requiredStatEffect(Stat.HP)"
                        [minimum_possibility]="minimumPossibility.hp"
                        [maximum_possibility]="maximumPossibility.hp">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.ATK, $event)" [stat]="Stat.ATK"
                        [is_main_stat]="trainingTask.mainStat == Stat.ATK"
                        [current_training]="currentTraining.atk"
                        [training_effect]="trainingTask.statsEffective.atk"
                        [required_effect]="training.requiredStatEffect(Stat.ATK)"
                        [minimum_possibility]="minimumPossibility.atk"
                        [maximum_possibility]="maximumPossibility.atk">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.RPR, $event)" [stat]="Stat.RPR"
                        [is_main_stat]="trainingTask.mainStat == Stat.RPR"
                        [current_training]="currentTraining.rpr"
                        [training_effect]="trainingTask.statsEffective.rpr"
                        [required_effect]="training.requiredStatEffect(Stat.RPR)"
                        [minimum_possibility]="minimumPossibility.rpr"
                        [maximum_possibility]="maximumPossibility.rpr">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.ABL, $event)" [stat]="Stat.ABL"
                        [is_main_stat]="trainingTask.mainStat == Stat.ABL"
                        [current_training]="currentTraining.abl"
                        [training_effect]="trainingTask.statsEffective.abl"
                        [required_effect]="training.requiredStatEffect(Stat.ABL)"
                        [minimum_possibility]="minimumPossibility.abl"
                        [maximum_possibility]="maximumPossibility.abl">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.STA, $event)" [stat]="Stat.STA"
                        [is_main_stat]="trainingTask.mainStat == Stat.STA"
                        [current_training]="currentTraining.sta"
                        [training_effect]="trainingTask.statsEffective.sta"
                        [required_effect]="training.requiredStatEffect(Stat.STA)"
                        [minimum_possibility]="minimumPossibility.sta"
                        [maximum_possibility]="maximumPossibility.sta">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.PLT, $event)" [stat]="Stat.PLT"
                        [is_main_stat]="trainingTask.mainStat == Stat.PLT"
                        [current_training]="currentTraining.plt"
                        [training_effect]="trainingTask.statsEffective.plt"
                        [required_effect]="training.requiredStatEffect(Stat.PLT)"
                        [minimum_possibility]="minimumPossibility.plt"
                        [maximum_possibility]="maximumPossibility.plt">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.SCI, $event)" [stat]="Stat.SCI"
                        [is_main_stat]="trainingTask.mainStat == Stat.SCI"
                        [current_training]="currentTraining.sci"
                        [training_effect]="trainingTask.statsEffective.sci"
                        [required_effect]="training.requiredStatEffect(Stat.SCI)"
                        [minimum_possibility]="minimumPossibility.sci"
                        [maximum_possibility]="maximumPossibility.sci">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.ENG, $event)" [stat]="Stat.ENG"
                        [is_main_stat]="trainingTask.mainStat == Stat.ENG"
                        [current_training]="currentTraining.eng"
                        [training_effect]="trainingTask.statsEffective.eng"
                        [required_effect]="training.requiredStatEffect(Stat.ENG)"
                        [minimum_possibility]="minimumPossibility.eng"
                        [maximum_possibility]="maximumPossibility.eng">
      </app-stat-explain>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-stat-explain (onCurrentTrainingChanged)="updateCurrentTraining(Stat.WPN, $event)" [stat]="Stat.WPN"
                        [is_main_stat]="trainingTask.mainStat == Stat.WPN"
                        [current_training]="currentTraining.wpn"
                        [training_effect]="trainingTask.statsEffective.wpn"
                        [required_effect]="training.requiredStatEffect(Stat.WPN)"
                        [minimum_possibility]="minimumPossibility.wpn"
                        [maximum_possibility]="maximumPossibility.wpn">
      </app-stat-explain>
    </td>
  </tr>
  </tbody>
  <thead>
  </thead>
</table>
