body
  margin: 0
  padding: 0

.container
  max-width: 576px
  touch-action: manipulation

button.fatigue img
  max-width: 20px
  margin-right: 1.5px
  margin-left: 1.5px

.flex-container
  display: flex
  justify-content: center
  align-items: center
